<h1>All Snippets</h1>

<%= link_to"Ruby (#{@rubysnippets.count} Snippets)", code_type_path("ruby"), method: :post%><hr>
<%= link_to"JavaScript (#{@JSsnippets.count} Snippets)", code_type_path("javascript"), method: :post %><hr>
<%= link_to"CSS (#{@CSSsnippets.count} Snippets)", code_type_path("css"), method: :post %><hr>
<%= link_to"HTML (#{@HTMLsnippets.count} Snippets)", code_type_path("html"), method: :post %><hr>
